<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
    <h1>
        About me
    </h1>
    <div class="wrapper">
        <div class="left-words">
            Capturing the essence of every moment, Ruzne Li specializes in wendding, portrait photography. With a passion for creativity and an eye for detail, Runze Li ensures each image tells a unique story.
            <br>
            Professionalism: Years of experience and a commitment to excellence guarantee high-quality results tailored to your needs.
            <br>
            Creativity: Fresh perspectives and artistic flair make every photo a masterpiece.
            <br>
            Personalized Service: From consultation to delivery, Runze Li works closely with you to bring your vision to life.
            <br>
            Client Satisfaction: Your happiness is paramount, and Runze Li goes above and beyond to exceed your expectations.
            <br>
            Let Runze Li Photography transform your moments into timeless memories. Contact today to schedule your session!
        </div>
    </div>
</body>
</html>