<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片（相册）展示设计Ⅳ</title>
    <link rel="stylesheet" th:href="@{~/css/Service.css}">
</head>
<body>
<figure class="sample">
    <!-- 展示需要分3组图片，可自行调整 -->
    <img src="https://lirp.cdn-website.com/28cd0bb4/dms3rep/multi/opt/traditional+american+wedding-1920w.jpeg" alt="sample1" />
    <div class="title">
        <div>
            <h2>Gold Plan</h2>
            <h4>$100</h4>
        </div>
    </div>
    <figcaption>
        <!-- 此处文字随意写的 -->
        <p>You will get 1 Photography and 2 hours of shooting time</p>
    </figcaption>
    <a href="#"></a>
</figure>

<figure class="sample hover">
    <!-- 展示需要分3组图片，可自行调整 -->
    <img src="https://hips.hearstapps.com/hmg-prod/images/simone-biles-wedding-dress-5-645b6e1768b6c.jpg?crop=1.00xw:1.00xh;0,0&resize=2048:*" alt="sample2" />
    <div class="title">
        <div>
            <h2>Diamond Plan</h2>
            <h4>$300</h4>
        </div>
    </div>
    <figcaption>
        <!-- 此处文字随意写的 -->
        <p>You will get 2 Photography and 6 hours of shooting time</p>
    </figcaption>
    <a href="#"></a>
</figure>

<figure class="sample">
    <!-- 展示需要分3组图片，可自行调整 -->
    <img src="https://images.squarespace-cdn.com/content/v1/58d1b3ff1b631bb1893d108d/1664462775843-ZPU9KK9HJ8R97KZ6DDG7/unsplash-image-1Bs2sZ9fD2Q.jpg?format=2500w" alt="sample3" />
    <div class="title">
        <div>
            <h2>Plantinum Plan</h2>
            <h4>$200</h4>
        </div>
    </div>
    <figcaption>
        <!-- 此处文字随意写的 -->
        <p>You will get 1 Photography and 5 hours of shooting time.</p>
    </figcaption>
    <a href="#"></a>
</figure>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  th:src="@{~/js/Service.js}"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>